:root {
  --phone-screen-width: 375px;
  --phone-screen-height: 667px;
  --phone-border: 20px;
}

html, body, .container {
  margin: 0;
  padding: 0;
  height: 100%;
}

.background {
  --blur: 8px;
  background-image: url("img/park_bg.jpg");
  background-size: cover;
  width: calc(100% + (var(--blur) * 4));
  height: calc(100% + (var(--blur) * 4));
  top: calc(-1 * (var(--blur) * 2));
  left: calc(-1 * (var(--blur) * 2));
  z-index: -1;
  position: fixed;
  filter: blur(var(--blur));
}

.container {
  display: grid;
  grid-template-columns: auto calc(var(--phone-screen-width) + var(--phone-border) * 2) auto;
  grid-template-rows: auto calc(var(--phone-screen-height) + var(--phone-border) * 2) auto;
}

.left-hand {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 4;
  background-image: url("img/left_hand.png");
  background-position: bottom left;
  background-size: contain;
  background-repeat: no-repeat;
}

.right-hand {
  background-repeat: no-repeat;
}

.right-hand.left-of-phone {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 3;
  background-image: url("img/right_hand_left.png");
  background-position: center right;
}

.right-hand.right-of-phone {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  background-image: url("img/right_hand_right_top.png");
  background-position: bottom left;
}

.right-hand.below-phone {
  grid-column-start: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  background-image: url("img/right_hand_middle_bottom.png");
  background-position: top right;
}

.right-hand.below-right-of-phone {
  grid-column-start: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  background-image: url("img/right_hand_right_bottom.png");
  background-position: top left;
}

.phone {
  grid-column-start: 2;
  grid-row-start: 2;
}

.phone .screen {
  width: 100%;
  height: 100%;
  background: #fff;
  border: var(--phone-border) #000 solid;
  box-sizing: border-box;
}

.commands {
  grid-column-start: 2;
  grid-row-start: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
